<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Predict Salary</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" href={{ url_for('static', filename='favicon.ico') }} />
    </head>

    <body>
            <section class="container">
                <h1>Predict Salary</h1>
                <form action="{{ url_for('predict') }}" method="post">
                 <fieldset>
                   <legend class="visually-hidden">Predict Salary</legend>
                   <div class="form-group col-1-2">
                     <div class="form-field">
                       <span class="form-field-container">
                         <input type="text" name="experience" placeholder="Number of years worked" pattern="[0-9]|[1-4][0-9]|50" maxlength="2" required="true">
                         <i class="form-field-icon"></i>
                       </span>
                       <p class="form-help">Experience should be between 0 and 50</p>
                     </div>
                   </div>
                   <div class="form-group col-1-2">
                     <div class="form-field">
                       <span class="form-field-container">
                         <input type="text" name="text_score" placeholder="Test Score" pattern="[0-9]|10" maxlength="2"  required="true">
                         <i class="form-field-icon"></i>
                       </span>
                       <p class="form-help">Test score should be between 0 and 10</p>
                     </div>
                   </div>
                   <div class="form-group col-1-2">
                     <div class="form-field">
                       <span class="form-field-container">
                        <input type="text" name="interview_score" placeholder="Interview Score" pattern="[0-9]|10" maxlength="2"  required="required" />
                         <i class="form-field-icon"></i>
                       </span>
                       <p class="form-help">Interview score should be between 0 and 10</p>
                     </div>
                   </div>
                   <br>
                   <button type="submit" class="button">Predict</button>
                   <br>
                   <button type="reset" class="button" onClick="window.location.href = '/'">Clear</button>
                 </fieldset>
                </form>
                <p class="form-help">{{ prediction_text }}</p>
              </section> 
    </body>
</html>
